---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = '关于';
const description = '';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1 style="margin-bottom: 1rem;">关于我们</h1>
    <img src="/assets/banner.png" alt="" class="about-image">
    <p>
      这里是郑州 Kotlin 用户组，旨在分享、交流与讨论 Kotlin 编程语言及其相关生态系统。<br>
    </p>
    <p>
      欢迎所有热爱 Kotlin 的开发者加入我们！<br>
      不偷井盖、不玩原神。
    </p>
  </div>
</BaseLayout>

<style>
  .banner {
    border-radius: 8px;
  }
 
</style>
