---
import BaseLayout from '../layouts/BaseLayout.astro';
import getRandomCaption from "../utils/captions";

const title = 'KUG (ZhengZhou)';
const description = '';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>郑州<br>Kotlin 用户组</h1>
      <p>一群热爱 Kotlin 的人。</p>
    </div>
    <div class="hero-image-container">
      <picture>
        <!-- <source srcset="/assets/kotlin_logos/Digital/mark/Full Color/Kotlin Full Color Logo Mark RGB.svg" media="(min-width: 600px)"> -->
        <img class="hero-image" alt="" src="/assets/kt_logo.svg" width="550">
      </picture>
      <p id="caption" class="caption">
        
      </p>
    </div>
  </div>
</BaseLayout>

<script>
  import getRandomCaption from "../utils/captions";

  document.addEventListener('DOMContentLoaded', () => {
    const randomCaptionElement = document.getElementById("caption");
    randomCaptionElement.textContent = getRandomCaption();
  });
</script>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
    max-width: 700px;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
    border: 1px solid;
    border-image-source: linear-gradient(45deg, #804FF2, #CD4C74);
    border-image-slice: 1;
    padding: 1.75rem;
  }

  .caption {
    font-size: .8em;
    text-align: left;
    background-image: linear-gradient(45deg, #804FF2, #CD4C74);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }

  .hero-image {
    width: 100%;
    max-width: 400px;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
